<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>be strong</title>
    <link rel="stylesheet" type="text/css" href="static/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/demo.css">
    <link rel="stylesheet" type="text/css" href="static/css/component.css">
</head>
<body>
<div class="center bgcolor-3">
    <h2>Be Strong</h2>
    <form method="POST" action="/givemetoken">
			<span class="input input--kyo">
				<input class="input__field input__field--kyo" type="text" name="token">
				<label class="input__label input__label--kyo" for="input-19">
					<span class="input__label-content input__label-content--kyo">What's your team  token?</span>
				</label>
			</span>
    </form>
</div>
</body>
</html>